body {
    background-color: black;
  }
  
  h1 {
    color: cyan;
    text-align: center;
  }
  
  h2 {
    color: cyan;
    text-align: center;
  }

  p {
    font-family: 'Kode Mono';
    font-size: 20px;
  }