body {
    background-color: black;
    color:black;
  }
  
  h1 {
    color: magenta;
    text-align: center;
    font-family: "Kode Mono";
  }
  
  h2 {
    color: magenta;
    text-align: center;
    font-family: "Kode Mono";
  }

  p {
    font-family: "Kode Mono";
    font-size: 20px;
    color:cyan
  }

  a {
    color: cyan;
    font-family: "Kode Mono";
  }