body {
    background-color: black;
  }
  
  h1 {
    color: teal;
    text-align: center;
  }
  
  p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
  }